*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(60deg, #954a5c, #7a392e, #954a5c);
    background-size: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
}

nav .buttons {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.language-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    border: 1px solid #e3d6d68e;
} 

.language-btn span {
    margin-left: 5px;
}

.header-content {
    margin-top: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-content h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 60px;
}

.header-content h3 {
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}

.header-content h3 span {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.header-content p {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 300;
}

.header-content .email-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 800;
    font-size: large;
}

.email-section input {
    background: none;
    height: 50px;
    width: 330px;
    border-radius: 5px;
    border: 1px solid #ffffff69;
    outline: cornflowerblue;
    padding: 0 13px;
    color: #fff;
}

.email-section button {
    background: none;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ffffff69;
    background-color: #db0001;
    padding: 0 13px;
    color: #fff;
}

.email-section button span {
    margin-left: 8px;
    font-size: larger;
    font-weight: 800;
}

section {
    background-color: #0f0d0d;
}

section .container-fluid {
    margin-bottom: 1rem;
}


section .container-fluid .first-section, 
section .container-fluid .second-section, 
section .container-fluid .third-section {
    padding: 10px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.first-section .card-text, .second-section .card-text, .third-section .card-text {
    border: none;
    color: #fff;
    background: none;
    text-align: center;

}

.first-section .card-image, .second-section .card-image, .third-section .card-image {
   border: none;
   background: none;
   margin-top: 1rem;
} 

@media (max-width: 700px) {

    .card {
        width: 100%;
    }

    .header-content h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
    }

    .header-content h3, .header-content p {
        text-align: center;
        margin-top: 20px;
        font-weight: 400;
        font-size: 15px;
    }   
}


.section-body, .section-footer {
    background-color: #000;
}

.section-body .container, .section-footer .container {
    padding: 15px;
} 

.section-body .container .row h3 {
    margin: 1rem 0;
}

.section-body .card-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}


.section-body .first-card, .section-body .second-card, .section-body .third-card, .section-body .fourth-card {
    background: linear-gradient(135deg, #2e3ca260, #131115);
    color: #fff;
    padding: 4px 20px;
    border-radius: 15px;
    cursor: pointer;

}

.section-body .first-card .card-footer img, .second-card .card-footer img, .third-card .card-footer img, .fourth-card .card-footer img{
    width: 80px;
    border-radius: 10px;

}

.section-body .first-card .card-footer .image, .second-card .card-footer .image, .third-card .card-footer .image, .fourth-card .card-footer .image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.first-card:hover, .second-card:hover, .third-card:hover, .fourth-card:hover {
    transform: translateY(-5px);
}


.section-footer .container .accordion .accordion-item {

    /* border: transparent;
    outline: none; */

    
}

.accordion-item {
    border: none !important;
    margin: 10px;
    outline: none !important;

}

.accordion-header .question, .answer {

    background-color: rgba(12, 3, 3, 0.878);
    color: #fff;
    padding: 20px;
    border: none !important;
    outline: none !important;
    
}

.section-footer .section-email {
    margin-top: 2rem;
}

.section-email .email-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer .footer-header p, a{
    color: rgba(255, 255, 255, 0.716);
}

.footer-section {
    margin-top: 4px;
}

.footer-section .list-links {
    background: none;
}

.list-links ul li {
    list-style-type: none;
    margin-left: 0;
}

.footer-section-button .language-btn {
    width: 120px;
    color: rgba(255, 255, 255, 0.716);
    display: inline-flex;
    padding: 4px 8px;
    border-radius: 2px;
    align-items: center;
    gap: 1rem;
}

.footer .footer-footer .title {
    color: rgba(255, 255, 255, 0.716);
}

.footer-footer .para {
    color: rgba(255, 255, 255, 0.504);
    font-size: small;
}

.footer-footer .para a {
    color: rgba(137, 43, 226, 0.782);
}

.footer {
    margin-bottom: 10rem;
}







