.outer-box{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    /* border-radius: 50%; */
    background: linear-gradient(45deg, yellow, blue);
}

.outer-box .inner-box {
    border: 2px solid none;
    width: 100px;
    height: 100px;
    background-color: violet;
    padding: 20px;
    border-radius: 50%;
    background: repeating-radial-gradient(circle, violet, indigo, blue, green, yellow, orange, red);

    /* background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); */
}

.inner-box {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    height: 600px;
    border: 2px solid;
}

.box-1 {
    height: 100px;
    width: 100px;
    background-color: bisque;
}

.box-2 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
}

.box-3 {
    height: 100px;
    width: 100px;
    background-color: rgb(78, 53, 191);
}

body {
    background-image: url("https://media.istockphoto.com/id/530427836/photo/wooden-table-top-on-blue-sea-and-white-sand-beach.jpg?s=2048x2048&w=is&k=20&c=3ZAJ-qN4OWbpEJ926GGbVYrrGKFvNGHqgOetnAwgTk4=");
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

/* .nav-bar {
filter: blur(2px);
    position: relative;
}     */

.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* border: 2px solid transparent; */
    margin: 50px auto;
    padding: 10px;
    width: 400px;
    backdrop-filter: blur(3px);  /* glass blur effect */
   -webkit-backdrop-filter: blur(3px);  /* Safari support */
    box-shadow: 0 4px 10px rgba(7, 5, 5, 0.263);
    border-radius: 5px;
}

.nav-bar ul li {
    list-style-type: none;
    /* background-color: rgba(255, 255, 255, 0.4); */
    border: 1px solid transparent;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in 0.3s;
    text-align: center;
}

.nav-bar ul li:hover {
    background: rgba(255, 255, 255, 0.229);
    backdrop-filter: blur(8px);  /* glass blur effect */
   -webkit-backdrop-filter: blur(8px);  /* Safari support */
   /* border: 1px solid rgba(255, 255, 255, 0.4); */
}