* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  width: 100%;
  height: 100%;
  font-family: "popins", sans-serif;
  background-color: var(--background-color);
}

:root {
  --primary-color: #ffff;
  --background-color: #35407d;
}

.container-fluid {
  padding: 0;
}

nav {
  height: 70px;
  /* border: 2px solid rgba(255, 255, 255, 0.332); */
  border-radius: 5px;
}

nav .navbar-container {
  padding: 0 30px;
}

.logo a {
  color: var(--primary-color);
}

.toggler-button {
  border: none !important;
  box-shadow: none !important;
  background-color: var(--primary-color);
  padding: 0 3px;
  width: 40px;
  border-radius: 4px;
  color: var(--primary-color);
}

.sidebar {
  background-color: var(--background-color);
}

.sidebar .break {
  color: var(--primary-color);
  margin: 0 20px;
}

.sidebar .sidebar-header h5 {
  color: var(--primary-color);
}

.sidebar .sidebar-header button {
  margin: 0 15px;
}

.search-links .links-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.search-links .links-container li a {
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border-radius: 3px;
}

.search-links .links-container li a:hover {
  background-color: #f0f0f0;
  color: var(--background-color);
}

@media (min-width: 768px) {
  .break {
    display: none;
  }
}

main {
  margin-top: 5.5rem;
}

/* Swiper Banner */
.swiper {
  width: 100%;
  height: 90vh; /* height of the banner */
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.332);
  box-shadow: 4px 4px 25px #010707a8;
  z-index: 999;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fill banner like Amazon */
  cursor: pointer;
}

/* Optional: arrows color visibility */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  opacity: 0.9;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

@media (max-width: 768px) {
  .swiper {
    height: 60vh;
  }
}

section {
  margin-top: 2rem;
}

.container {
  padding-top: 20px;
}

.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.header button {
  background: none;
  border: none;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
  padding: 0 10px;
}

.cards {
  flex: 0 0 300px; /* 4 per row on desktop */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.7;
  max-height: 400px;
  transition: transform ease-in 0.3s;
}

.cards:hover {
  transform: scale(1.05);
}

.cards img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.cards .card-content {
  width: 100%;
  height: 100px;
  background: #fff;
  padding-top: 15px;
}

.card-content .name {
  font-size: 1rem;
  font-weight: 500;
}

.card-content p,
p s,
span {
  color: #000;
}

@media (max-width: 768px) {
  .card-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    gap: 20px;
  }

  .card-container .cards {
    flex: 0 0 70%;
    height: 300px;
    transition: transform ease-in 0.3s;
  }

  .cards img {
    height: 60%;
    width: 100%;
  }

  .cards:hover {
    transform: scale(1.05);
  }

  .card-container::-webkit-scrollbar {
    display: none; /* hide scrollbar */
  }
}

.trending-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.trending-row .trending-card {
  flex: 0 0 300px;
  height: 300px;
  border: none;
  background: none;
  margin-bottom: 0.5rem;
}

.trending-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform ease-in-out 0.3s;

}

.trending-card img:hover {
  transform: scale(0.98);
}

.trending-container {
    position: relative;
}

.trending-container .left-icon {
    position: absolute;
    left: 0;
    top: 50%;
}

.trending-container .right-icon {
    position: absolute;
    right: 0;
    top: 50%;
}


.trending-container .left-icon, .trending-container .right-icon {
  display: none;
}

@media(max-width: 580px) {
  
    .trending-row {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: auto;
    }

    .trending-row .trending-card {
        flex: 0 0 100%;
        height: 290px;
    }

    .trending-row::-webkit-scrollbar {
        display: none;
    }

    .trending-container .left-icon, .trending-container .right-icon {
        display: block;
        background-color: #0a0a0e2a;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }   

    .left-icon:hover, .right-icon:hover {
        background-color: #0a0a0e79;
    }
}

.reviews-section {
  margin-top: 2rem;
}

.reviews-section .reviews-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 2rem;
  margin-top: 30px;
  /* border: 2px solid; */
  overflow: hidden;
  width: 100%;
  position: relative;
}

.reviews-container .reviews-track {
  display: flex;
  overflow-x: auto;
  gap: 1.5rem;
  padding: 10px 20px;
  /* border: 2px solid; */
}

.reviews-track .reviews-card {

  flex: 0 0 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.reviews-card .username {
  margin-top: -1.5rem;
}
.reviews-track::-webkit-scrollbar {
  display: none;
}

.reviews-container .left-icon, .reviews-container .right-icon {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e8d9e7d;
  border-radius: 5px;
  padding: 0 3px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}


.reviews-container .left-icon:hover, .reviews-container .right-icon:hover {
  background-color: #2a687aa7;

}


@media(max-width: 580px) {

  .reviews-track .reviews-card {
    flex: 0 0 100%;
  }
}


.best-seller-section .best-seller-header {

  display: flex;
  justify-content: space-between;
}

.best-seller-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
  /* color: rgba(12, 12, 244, 0.748); */
}


.best-seller-section .seller-row {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.seller-row .best-seller-card {
  flex: 0 0 300px;
  background: none;
  border: none;
  height: 300px;
  margin-bottom: 0.5rem;
  transition: transform ease-in 0.3s;
}

.best-seller-card:hover {
  transform: scale(1.05);
}

.best-seller-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}


/* .container .budget-header {
  display: flex;
  justify-content: space-between;
}

.container .budget-row {

}


.budget-row .budget-card {
  width: 300px;
  height: 300px;
}

.budget-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
} */


/* .container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-card .budget-card {
  flex: 0 0 300px;
  border-radius: 15px;
  height: 300px;
}

.budget-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.budget-card .card-content {
  background-color: #f0f0f0;
  text-align: center;
  padding: 15px;
}

.budget-card .card-content .name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
}

.budget-card .card-content p {
    font-size: 15px;
    color: #555;
    margin-bottom: 4px;
}

.budget-card .card-content span {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
} */



.container-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }

    /* --- Card --- */
    .budget-card {
      flex: 1 1 calc(25% - 20px); /* 4 per row */
      background: #fff;
      /* border-radius: 12px; */
      overflow: hidden;
      transition: transform 0.3s ease-in;
    }

    .budget-card:hover {
      transform: scale(1.05);
    }

    /* --- Image --- */
    .budget-card img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }

    /* --- Card Content --- */
    .budget-card .card-content {
      background-color: #f8f8f8;
      padding: 15px;
      text-align: center;
    }

    .budget-card .card-content .name {
      font-size: 18px;
      font-weight: 600;
      color: #333;
      margin-bottom: 8px;
    }

    .budget-card .card-content p {
      font-size: 15px;
      color: #555;
      margin-bottom: 8px;
    }

    .budget-card .card-content span {
      background-color: #4caf50;
      color: white;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 14px;
    }

    /* --- Responsive --- */
    /* 3 per row */

    /* @media (max-width: 992px) {
      .budget-card {
        flex: 1 1 calc(33.33% - 20px); 
      }
    } */

    @media (max-width: 786px) {
      .budget-card {
        flex: 1 1 calc(50% - 20px); /* 2 per row */
      }

      .budget-card img {
        height: 200px;
      }
    }

    .container-fluid {
      width: 100%;
      margin: 3rem 0;
    }

    .banner img{
      width: 100%;
      height: max-content;
      object-fit: cover;
    }

