@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas: "left-section right-section";
    /* margin-top: 0; */
    padding-top: 50px;
}

.hero-section .left-section {
    margin-left: 100px;
    padding: 20px;
    grid-area: "left-section";
    transform: translateX(-500px);
    animation: left-right 2s ease forwards;
}

@keyframes left-right {
    100% {
        transform: translateX(0);
    }
}

.left-section h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(196,21,21);
}

.left-section p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
}

.left-section .buttons {
    display: flex;
    gap: 20px;
}

.left-section .order-now, .kfc-chicken {
    background-color: rgb(196,21,21);
    border: none;
    padding: 8px 25px;
    font-size: medium;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.left-section .order-now:hover, .kfc-chicken:hover {
    background-color: #fff;
    color: rgb(196,21,21);
    border: 1px solid rgb(196,21,21);
}

.left-section .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icons span {
    margin: 10px 0px;
    cursor: pointer;
    color: #555;
    width: 100%;
}

.social-icons .icons {
    display: flex;
}

.social-icons .icons img {
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icons img:hover {
    transform: scale(1.1);
    
}

.hero-section .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-left: 1rem;
    grid-area: "right-section";
}

.right-section img {
    height: 600px;
    object-fit: cover;
    transform: scale(0);
    animation: scale-up 2s ease forwards;
}

@keyframes scale-up {
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    .hero-section {
        grid-template-columns: 1fr;
        grid-template-areas: "right-section" "left-section";
    }

    .hero-section .left-section {
        margin: 0;
        padding: 20px;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-section h1 {
        font-size: 3rem;
    }

    .hero-section .right-section {
        margin: 0;
        padding: 20px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        grid-row: 1;
    }

    .right-section img {
        height: 400px;
    }
    
}