@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(196,21,21);
    margin: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #ffffff79;
}

.navbar .logo {
    padding-left: 40px;
}

.logo img {
    height: 70px;
    width: 70px;
    object-fit: cover;
     transform: scale(0);
    animation: scale-up 2s ease forwards;
}

.navbar .links ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateY(-100px);
    animation: bottom-up 2s ease forwards;
}

@keyframes bottom-up {

    100% {
        transform: translateY(0px);
    }
    
}

.navbar .login {
    padding-right: 40px;

}

.login .login-btn {
    background-color: rgb(196,21,21);
    border: none;
    padding: 5px 20px;
    font-size: small;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    transform: translateX(100px);
    animation: right-left 2s ease forwards;
}

@keyframes right-left {

    100% {
        transform: translateX(0px);
    }
    
}

.login-btn:hover {
    background-color: transparent;
    border: 1px solid rgb(196,21,21);
    color: rgb(196,21,21);

}